:root {
  --color-black: #121212;
  --color-green: #34C94B;

}





.button {
  background-color: var(--color-black);
  color: var(--color-green);

  border: none;
  border-radius: 8px;

  padding: 10px 20px;

  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;

  cursor: pointer;
}